DATABASE_URL=postgresql://username:password@192.168.1.200:5432/dbname
LASTFM_API_KEY=your_lastfm_api_key_here
NOWPLAYINGAT_SHARED_SECRET=your_shared_secret_here
NOWPLAYINGAT_API_URL=https://nowplayingat.suibari.com
