[Unit]
Description=nowplayingat Now Playing Poller
After=network.target

[Service]
User=suibari
WorkingDirectory=/home/suibari/work/bsky_nowplayingat/bsky_nowplayingat_server
EnvironmentFile=/home/suibari/work/bsky_nowplayingat/bsky_nowplayingat_server/.env
ExecStart=/usr/bin/npx tsx src/index.ts
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
